@import "../vars.less";
.layout {
  position: relative;
  height: 100vh;
  &.withnavbar {
    .main {
      margin-left: 0;
    }
  }
  &.fold {
    .sider {
      width: 42px;
      .logo {
        img {
          width: 28px;
          margin: 6px 7px;
        }
      }
      :global {
        .ant-menu-root {
          width: 100%;
          overflow: visible;
          & > .ant-menu-item {
            padding: 0;
            text-align: center;
            .anticon {
              font-size: 14px;
              margin-right: 0;
            }
          }
          & > .ant-menu-submenu {
            & > .ant-menu-submenu-title {
              padding: 0;
              text-align: center;
              .anticon {
                font-size: 14px;
                margin-right: 0;
              }
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
    .main {
      margin-left: 42px;
    }
  }
  .sider {
    width: 224px;
    background: #3e3e3e;
    position: absolute;
    overflow: visible;
    padding-bottom: 24px;
    height: 100vh;
    transition: @transition-ease-out;
    box-shadow: @shadow-1;
    z-index: 520;
    color: #999;
    &.light {
      background: #fff;
      .switchtheme {
        background: #fff;
        border-top: solid 1px #f8f8f8;
      }
    }
    .logo {
      text-align: center;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      margin: 28px 0;
      transition: @transition-ease-out;
      overflow: hidden;
      img {
        width: 40px;
        margin-right: 8px;
        transition: @transition-ease-out;
      }
      span {
        vertical-align: text-bottom;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
      }
      .anticon {
        transition: @transition-ease-out;
      }
    }
    .switchtheme {
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 48px;
      background-color: @dark-half;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px 0 24px;
      overflow: hidden;
      z-index: 1000;
      span {
        white-space: nowrap;
        overflow: hidden;
      }
      :global {
        .anticon {
          min-width: 14px;
          margin-right: 8px;
          font-size: 14px;
        }
      }
    }
    :global {
      @media screen and (max-width: 414px) {
        .ant-card-body {
          padding: 5px!important;
          margin: 5px!important;
        }
      }
    }
    :global {
      .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
        color: #999;
      }
      .ant-menu-root {
        height: ~"calc(100vh - 144px)";
        overflow-x: hidden;
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
        &:hover {
          &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
      .ant-menu {
        transition: @transition-ease-out;
        .ant-menu-item, .ant-menu-submenu-title {
          overflow: auto;
          white-space: normal;
        }
      }
    }
  }
  .header {
    :global .ant-menu-horizontal {
      & > .ant-menu-submenu {
        float: right;
      }
      border: none;
    }
    box-shadow: @shadow-2;
    position: relative;
    .siderbutton {
      height: 47px;
      width: 47px;
      line-height: 47px;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      position: absolute;
      transition: @transition-ease-in;
      &:hover {
        color: @primary-color;
        background-color: fade(@primary-color, 15%);
      }
    }
  }
  .bread {
    height: 64px;
    line-height: 64px;
    padding: 0 24px;
    margin-bottom: -24px;
  }
  .main {
    margin-left: 224px;
    overflow: auto;
    height: 100vh;
    transition: @transition-ease-out;
    .container {
      margin: 24px;
      .content {
        min-height: e("calc(100vh - 184px)");
        position: relative;
        :global .content-inner {
          background: #fff;
          padding: 24px;
          box-shadow: @shadow-1;
          min-height: e("calc(100vh - 184px)");
        }
      }
    }
  }
  .footer {
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 12px;
    color: #999;
    background: #fff;
    box-shadow: @shadow-2;
    width: 100%;
  }
}

:global .ant-menu-dark {
  color: #999;
  background-color: #3e3e3e;
  .ant-menu-submenu-title:hover, .ant-menu-submenu:hover {
    color: @primary-color;
  }
  .ant-menu-sub {
    color: #999;
  }
  .ant-menu-submenu-selected {
    color: @primary-color;
    &:not(.ant-menu-submenu-open) {
      background-color: @dark-half;
    }
  }
  .ant-menu-item, .ant-menu-submenu-title {
    & > a {
      color: #999;
    }
    &:hover > a {
      color: @primary-color;
    }
  }
  &.ant-menu-inline {
    .ant-menu-item-selected {
      background-color: @dark-half;
    }
  }
  .ant-menu-item-selected {
    color: @primary-color;
    background-color: @dark-half;
    & > a {
      color: @primary-color;
    }
    &:hover {
      background-color: @dark-half;
    }
  }
}

:global {
  .ant-menu-submenu-vertical > .ant-menu {
    overflow: auto!important;
    min-height: 40px;
    max-height: 600px
  }
}

.popovermenu {
  width: 280px;
  left: 12px!important;
  :global .ant-popover-inner-content {
    padding: 0;
    .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-item {
      border-right: 0;
      height: 48px;
      line-height: 48px;
    }
    .ant-menu-inline .ant-menu-item-selected, .ant-menu-inline .ant-menu-selected {
      border-right: 0;
    }
  }
}

.spin {
  :global .ant-spin-container {
    height: 100%;
  }
}

img.avatar {
  border-radius: 6px;
  width: 12px;
  height: 12px;
}

:global {
  .ant-transfer-operation button {
    margin: 5px 5px 5px 0;
  }
}

:global .ant-menu-darkBlue {
  color: #999;
  background-color: @darky_blue;
  .ant-menu-submenu-title:hover, .ant-menu-submenu:hover {
    color: @primary-color;
  }
  .ant-menu-sub {
    color: #999;
  }
  .ant-menu-submenu-selected {
    color: @primary-color;
    &:not(.ant-menu-submenu-open) {
      background-color: @darky_blue;
    }
  }
  .ant-menu-item, .ant-menu-submenu-title {
    & > a {
      color: #999;
    }
    &:hover > a {
      color: @primary-color;
    }
  }
  &.ant-menu-inline {
    .ant-menu-item-selected {
      background-color: @darky_blue;
    }
  }
  .ant-menu-item-selected {
    color: @primary-color;
    background-color: @darky_blue;
    & > a {
      color: @primary-color;
    }
    &:hover {
      background-color: @darky_blue;
    }
  }
}

:global {
  @media screen and (max-width: 414px) {
    .deneme .ant-popover-inner {
      overflow-y: scroll;
      height: calc(100vh);
    }
    .ant-notification {
      width: 280px!important
    }
  }
}